{
  "rabbitmq": {
    "protocol": "amqp",
    "hostname": "localhost",
    "user": "guest",
    "password": "guest",
    "exchangeName": "my.exchange",
    "exchangeType": "direct",
    "routingKey": "world",
    "options": {
      "durable": true
    }
  },
  "message": {
    "number": 50,
    "delay": 0,
    "templates": [
      {
        "pattern": {
          "productId": "%id%",
          "productCategory": "%category%_product",
          "productPrice": "%price%",
          "companyName": "John Doe Unlimited",
          "version": 1
        },
        "values": {
          "id": {
            "fill": "auto"
          },
          "category": {
            "fill": "random",
            "values": [
              "fruit",
              "vegetable",
              "meat"
            ]
          },
          "price": {
            "fill": "range",
            "min": 10,
            "max": 50
          }
        }
      }
    ]
  }
}